@charset "UTF-8";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.div_calculate_main {
	margin:auto;
	width:50%;
	overflow:hidden;
	height:100%;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
}

.div_main_mid {
	margin:auto;
	width:50%;
	overflow:hidden;
	height:auto;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
}

.div_main_botnav {
	margin:0 auto;
	width:100%;
}

.div_main_bottom {
	margin:auto;
	margin-top:5%;
	width:100%;
	height:100px;
	background-color:#343a40;
}

.div_item_list {
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	height:500px;
}

.modal{
	text-align:center;
}

.nav-link_right{
	margin-left:50%;
}

.div_login{
	float: left;
}

.main_background{
	background-image: url("../../시간의신전.jpg");
	background-repeat : no-repeat;
    background-size : 100% 450px;
}

.div_drop_item{
	margin:auto;
	width:50%;
	overflow:hidden;
	height:auto;
}

.div_drop_paging{
	margin:auto;
	
.div_td_img{
	float: right;
	text-align:right;
}