@charset "UTF-8";

.div_main_mid {
	margin:auto;
	width:50%;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
}

.div_main_botnav {
	margin:0 auto;
	width:100%;
}

.div_main_bottom {
	margin:auto;
	margin-top:5%;
	width:100%;
	height:100px;
	background-color:#343a40;
}

.div_item_list {
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	height:500px;
}