@charset "UTF-8";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.div_calculate_main {
	margin:auto;
	width:50%;
	overflow:hidden;
	height:100%;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
}

.div_main_mid {
	margin:auto;
	width:50%;
	overflow:hidden;
	height:auto;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
}

.div_main_botnav {
	margin:0 auto;
	width:100%;
}

.div_main_bottom {
	margin:auto;
	margin-top:5%;
	width:100%;
	height:100px;
	background-color:#343a40;
}

.div_item_list {
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	height:500px;
}

.modal{
	text-align:center;
}

.nav-link_right{
	margin-left:50%;
}

.div_login{
	float: left;
}

.main_background{
	background-image: url("../../시간의신전.jpg");
	background-repeat : no-repeat;
    background-size : 100% 450px;
}

.div_drop_item{
	margin:auto;
	width:50%;
	overflow:hidden;
	height:auto;
}

.div_drop_paging{
	margin:auto;
}

.div_td_img{
	float: right;
	text-align:right;
}

.div_signup{
	margin:auto;
	width:50%;
	margin-top:5%;
}

.div_boss_list{
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_item_search{
	margin:auto;
	text-align:center;
	margin-bottom:5%;
}

.div_item_main{
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_info_main {
	margin:auto;
	width:50%;
}

.div_admin_main {
	margin:auto;
	width:50%;
	margin-top:5%;
	height:50%;
	text-align:center;
}

.div_admin_bossMain {
	margin:auto;
	text-align:center;
	margin-bottom:5%;
}

.div_damin_bossList {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:100%;
}

.div_admin_insertBoss {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:50%;
}

.div_admin_itemList {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:150%;
	text-align:center;
}

.div_admin_insertItem {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:50%;
}

.div_damin_item {
	margin:auto;
	width:40%;
	margin-top:5%;
	overflow:hidden;
	height:50%;
}

.div_admin_bossDropMain {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_admin_bottom {
	margin:auto;
	text-align:center;
	margin-bottom:5%;
}

.div_admin_bossDropList {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:190%;
	text-align:center;
}

.div_admin_insertDropItem {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:150%;
	text-align:center;
}

.div_create_party {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_party_list {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	text-align:center;
}

.div_party_mainPage {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:70%;
}

.div_party_bottom{
	margin:auto;
	width:50%;
	overflow:hidden;
	height:20%;
}

.div_makeParty_main {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:200%;
}

.div_makeParty_mid{
	margin:auto;
	width:100%;
	margin-top:5%;
	overflow:hidden;
	height:50%;
	text-align:center;
}

.div_makeParty_insert{
	margin:auto;
	width:100%;
	margin-top:3%;
	overflow:hidden;
	height:50%;
	text-align:center;
}

.div_partyButton {	
	float:left;
}

.div_info_mid {
	margin:auto;
	width:70%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_ienParty_main {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:120%;
}

.div_ienParty_mid{
	margin:auto;
	width:100%;
	margin-top:5%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_bosList_main {
	margin:auto;
	width:50%;
	overflow:hidden;
	height:100%;
	text-align:center;
}

.div_bossDrop_bossList {
	margin:auto;
	width:50%;
	margin-top:5%;
	overflow:hidden;
	height:70%;
}

.div_signend_slide {
	margin:auto;
	width:50%;
	overflow:hidden;
	height:40%;
	margin-bottom:5%;
}

.div_signend_main{
	margin:auto;
	margin-top:5%;
	overflow:hidden;
	height:100%;
}

.div_signend_bottom{
	margin:auto;
	width:50%;
	overflow:hidden;
	height:50%;
	margin-bottom:5%;
}

.div_signupend_modalButton{
	float:right;
}

.div_signend_modal{
	margin:auto;
	width:100%;
	overflow:hidden;
	height:40%;
	margin-bottom:5%;
}